<!---最新文章 start---->
<div id="blog-hotest">
    <div class="panel panel-blog">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-newspaper-o"></span> 最新文章
{#                                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>#}
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#blog-new-list"></span>
            </h3>
        </div>

        <ul id="blog-new-list" class="background-white list-group collapse in">
            <li class="list-group-item ">
                <span class="badge-index badge-index-hot">1</span><a href="/article/vmaig_blog.html">本网站开源喽~~基于Djangddddddddddddddddddd</a>
            </li>
            <li class="list-group-item ">
                <span class="badge-index badge-index-hot">2</span><a href="/article/vmaig_blog.html">本网站开源喽~~基于Djangddddddddddddddddddd</a>
            </li>
            <li class="list-group-item ">
                <span class="badge-index badge-index-hot">3</span><a href="/article/vmaig_blog.html">本网站开源喽~~基于Djangddddddddddddddddddd</a>
            </li>
            <li class="list-group-item ">
                <span class="badge-index">4</span><a href="/article/vmaig_blog.html">本网站开源喽~~基于Djangddddddddddddddddddd</a>
            </li>
            <li class="list-group-item ">
                <span class="badge-index">5</span><a href="/article/vmaig_blog.html">本网站开源喽~~基于Djangddddddddddddddddddd</a>
            </li>
            <li class="list-group-item ">
                <span class="badge-index">6</span><a href="/article/vmaig_blog.html">本网站开源喽~~基于Djangddddddddddddddddddd</a>
            </li>
            <li class="list-group-item ">
                <span class="badge-index">7</span><a href="/article/vmaig_blog.html">本网站开源喽~~基于Djangddddddddddddddddddd</a>
            </li>
        </ul>
    </div>

</div>
<!---最新文章 end----->