<!---blog hotest start---->
<div id="blog-hotest">
    <div class="panel panel-blog">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-heart"></span> 热门文章
{#                                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>#}
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#blog-hotest-list"></span>
            </h3>
        </div>

        <ul id="blog-hotest-list" class="list-group collapse in background-white">
            <li class="list-group-item">
                <a href="#">本网站开源喽~~基于Djang</a>
                <span class="badge">8475</span>
            </li>
            <li class="list-group-item">
                <a href="#">本网站开源喽~~基于Djang</a>
                <span class="badge">8475</span>
            </li>
            <li class="list-group-item">
                <a href="#">本网站开源喽~~基于Djang</a>
                <span class="badge">8475</span>
            </li>
            <li class="list-group-item">
                <a href="#">本网站开源喽~~基于Djang</a>
                <span class="badge">8475</span>
            </li>
            <li class="list-group-item">
                <a href="#">本网站开源喽~~基于Djang</a>
                <span class="badge">8475</span>
            </li>
            <li class="list-group-item">
                <a href="#">本网站开源喽~~基于Djang</a>
                <span class="badge">8475</span>
            </li>
        </ul>
    </div>
</div>
<!---blog hotest end----->
