#timeline {width: 760px;height: 440px;overflow: hidden;margin: 40px auto;position: relative;background: url('../images/dot.gif') 133px top repeat-y;}
#dates {width: 115px;height: 440px;float: left;}
#dates li {list-style: none;width: 100px;height: 100px;line-height: 100px;font-size: 24px; padding-right:15px;text-align:right; background: url('../images/biggerdot.png') 90px center no-repeat;}
#dates a {line-height: 38px;padding-bottom: 10px;}
#dates .selected {font-size: 38px;}
#issues {width: 630px;height: 440px;overflow: hidden;float: right;}
#issues li {width: 600px;height: 440px;list-style: none;}
#issues li h1 {color: #f0ad4e;font-size: 25px; height:52px; line-height:52px; text-shadow: #000 1px 1px 2px;}
#issues li p {font-size: 14px;margin: 10px;line-height: 26px;}