<!--comment start---->
<div class="well background-white">
    <div class="article-comments">
        <h3><span class="fa fa-comments"></span> 评论</h3>
        <form action="" method="post" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">姓名（必填）</span><input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">邮箱（必填）</span><input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">网址（选填）</span><input type="text" class="form-control" id="url" name="url">
                    </div>
                    <textarea id="comment" name="comment" class="form-control" rows="4" placeholder="请输入评论 限200字!"></textarea>
                    <button type="submit" class="btn btn-success pull-right">提交</button>
                </div>
        </form>
    </div>

    <div class="article-comments-list clearfix">
        <ul>
            <li>
                <h2>jipefe<span class="badge pull-right">1楼</span></h2>
                <p>评论：刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵</p>
                <div class="info"><span class="glyphicon glyphicon-calendar"></span>2017-05-07 19:07:21<span class="pull-right">回复</span></div>
            </li>
            <li>
                <h2>jipefe<span class="badge pull-right">1楼</span></h2>
                <p>评论：刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵</p>
                <div class="info"><span class="glyphicon glyphicon-calendar"></span>2017-05-07 19:07:21<span class="pull-right">回复</span></div>
            </li>
            <li>
                <h2>jipefe<span class="badge pull-right">1楼</span></h2>
                <p>评论：刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵</p>
                <div class="info"><span class="glyphicon glyphicon-calendar"></span>2017-05-07 19:07:21<span class="pull-right">回复</span></div>
            </li>
            <li>
                <h2>jipefe<span class="badge pull-right">1楼</span></h2>
                <p>评论：刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵刘恺威给我而高科技诶看过双开个快睡觉额更可贵</p>
                <div class="info"><span class="glyphicon glyphicon-calendar"></span>2017-05-07 19:07:21<span class="pull-right">回复</span></div>
            </li>

        </ul>

    </div>

</div>
<!--comment end---->